{% extends 'base.html' %}

{% block title %}{% if object %}Editar Perfil{% else %}Crear Perfil{% endif %}{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto px-4 py-8 bg-white shadow-md rounded-lg">
        <h1 class="text-3xl font-bold text-center mb-6">{% if object %}Editar Perfil{% else %}Crear Perfil{% endif %}</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if not object %}
                <div class="mb-4">
                    <label for="id_rol" class="block text-gray-700 text-sm font-bold mb-2">Rol:</label>
                    <select name="rol" id="id_rol" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="tesorero">Tesorero</option>
                        <option value="apoderado" selected>Apoderado</option>
                    </select>
                </div>
            {% endif %}
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Guardar</button>
                <a href="{% url 'perfil-list' %}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}
