/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: transparent;
}

.gallery-cell {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
