{% extends 'base.html' %} {% load static %} {% block title %}Inicio - Centro de
Padres{% endblock %} {% block content %}
<div
  id="background-container"
  style="
    background-image: url('{% static 'img/cloudBg.png' %}');
    background-size: cover;
  "
>
  <main
    class="container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between min-vh-100 py-5"
    id="/"
  >
    <div class="text-center text-lg-start">
      <h1 class="display-4 fw-bold">
        <span class="d-block text-black welcome-text">Bienvenidos</span>
        <span class="d-block text-primary">
          <p class="subtitle-text">
            Gestión Integral de Pagos para Centros de Padres y Apoderados
          </p>
        </span>
      </h1>
      <p class="mt-3 lead text-dark">
        Sistema de gestión para que tu Centro de Padres y Apoderados administre
        pagos de manera eficiente y transparente.
      </p>
    </div>
    <img
      src="{% static 'img/webdev.svg' %}"
      alt=""
      class="img-fluid w-md-50 d-none d-sm-block"
    />
  </main>
</div>

<div id="about" class="bg-white py-5">
  <div class="container">
    <h2 class="text-center mb-5 display-4 fw-bold">¿PORQUÉ SchoolPay?</h2>
    <div class="row">
      <div class="col-12">
        <h4 class="mt-4 text-primary">La Gestión de Pagos</h4>
        <p class="lead text-justify text-secondary">
          La gestión de los pagos de los Centros de Padres y Apoderados no es un
          problema con nosotros. SchoolPay te ayuda a definir distintos
          conceptos de pagos para los apoderados de curso, registrando y
          compartiendo los estados de pago de manera transparente y ágil,
          ayudando a la comunidad educativa a mantener un control en temas
          fundamentales, asegurando la transparencia y ayudando a la eficiencia
          en la administración de recursos.
        </p>
      </div>
      <div class="col-12">
        <h4 class="mt-4 text-primary">Nuestras Tecnologías y Herramientas</h4>
        <p class="lead text-justify text-secondary">
          Usando una combinación de tecnologías de vanguardia y software
          confiable, te ayudamos a registrar y compartir reportes y estados de
          pagos y avances con foco en la transparencia y eficiencia hacia
          apoderados y la comunidad educativa a través de una aplicación
          multiplataforma con alto rendimiento, especialmente diseñada para
          smartphones, tablets y equipos de escritorio.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
