{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">SchoolPay</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Nombre del usuario en el centro -->
      {% if user.is_authenticated %}
      <div class="navbar-nav mx-auto">
        <span class="navbar-text fw-bold">
          Hola, {{ user.apoderado.nombres }} {{ user.apoderado.apellidos }}
        </span>
      </div>
      {% endif %}

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'mi_perfil' %}"
            >Mi Perfil</a
          >
        </li>

        {% if user.apoderado.registrar_pago %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion:gestion_conceptos' %}">Gestionar Conceptos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion:assign_concept' %}">Asignar Conceptos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gestion:reporte_curso' %}">Reporte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gestion:registrar_pago' %}">Registrar Pago</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Logout</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'home' %}#top"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}#porque">Porqué</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}#testimonials">Opiniones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="login/">Login</a>
        </li>
        {% endif %}
        <li class="nav-item ms-lg-3">
          <button class="btn" id="theme-toggle">
            <i class="bi bi-sun-fill" id="theme-icon-light"></i>
            <i class="bi bi-moon-fill d-none" id="theme-icon-dark"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
