{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Guardar Cambios{% else %}Registrar Pago{% endif %}</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{{ form.media }}
<script src="{% static 'js/admin/filter_alumnos.js' %}"></script>
{% endblock %}
